@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand';

}

.mg-auto{
    margin: 0 auto;
}

#part1 {
    background: url('../img/rgb-bg.png');
    padding-top: 40px;
    padding-bottom: 50px;
}
.title h1{
    color: #499D93;
    font-size: 34px;
    font-weight: bold;

}
.title p{
    font-size: 23px;
    color: #424242;
}
.feature .thumbnail{
    padding-top: 50px;
    padding-bottom: 60px;
    min-height: 490px;
    border-radius: 30px;
    padding-left: 20px;
}
.t-1{
    background-color:#E4F1F6;
}
.t-2{
    background-color: #ECF5F4;
}
.t-3{
    background-color: #fbebedb8;
}

.feature .thumbnail h3{
    font-size: 28px;
    font-weight: 600;
    color: #3E3E3E;

}

.feature .thumbnail p{
    font-size: 20px;
    color: grey;

}
.highlight{
    margin-top: 40px;
    color: #E41837;

}
#content{
    padding-top: 60px;
}
#content ul li{
    font-size: 18px;
    padding-left: 15px;
}
#content ul li::marker {
    color: #499D93;
    font-size: 18px;

}
#road {
    background-image: url('../img/bg-rgb-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 100px 79px 100px;
}
#road h1{
    font-weight: bold;
    color: #3A3A3C;
}

#road p{
    white-space: pre;
    font-size: 18px;
    color: #3A3A3C;
}
#road .button-grp a{
    margin-top: 20px;
    border-radius: 14px;
    padding: 10px 10px;
}
label{
    font-size: 16px;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: #499D93;
    font-size: 1.95em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #E41837;
    color: #fff;
    font-size: 1.8em;
    padding: 10px 25px;
}
#email{
    height: 40px;
}
#content img{

}
footer{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer .thumbnail{
    border-radius: 30px;
    background-image: linear-gradient(to top right, #E8E7EA,#E3EEEF, #EDDDE1);
    padding-top: 40px;
    padding-bottom: 60px;
}
footer h1{
    color: #499D93;
    font-weight: bold;
}
footer p{
    white-space: pre;
    font-size: 18px;
}
footer .btn-danger{
    background-color: #E41837;
    /* padding: 15px 40px; */
    border-radius: 10px;
    font-size: 18px;
    color: white;
    transition: ease-in-out 0.5s all;
    margin-top: 15px;
}
footer .btn-danger:hover{
    background-color: #E41837;
    font-size: 19px;
    font-weight: bold;
}
.swal2-popup {
    display: none;
    width: 50em;
    max-width: 100%;
    padding: 5em 0 5.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem;
}